/* copy this page and add it to your main style sheet */
body{
  margin:0px;
  padding: 0px;
}

.container {
  display: block;
  height: 240px;
  padding: 40px;
  color:white;
  font-family:sans-serif;
  &.campaign{
    background: url("../imgs/bg_horiz-campaign.png") repeat-x;
  }
  &.dash{
    background: url("../imgs/bg_horiz-dash.png") repeat-x;
  }
  &.partnerships{
    background: url("../imgs/bg_horiz-partnerships.png") repeat-x;
  }
  &.design{
    background: url("../imgs/bg_horiz-design.png") repeat-x;
  }
  &.data{
    background: url("../imgs/bg_horiz-data.png") repeat-x;
  }
  &.vision{
    background: url("../imgs/bg_horiz-vision.png") repeat-x;
  }
}

.team-logo {
  display:inline-block;
  width:50px;
  height:50px;
}
